<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.webpostparser"/>
    <context:property-placeholder location="classpath:jdbc.properties,
                                            classpath:application.properties"/>

    <!-- www.njuskalo.hr parsing beans and parameters -->

    <bean id="njuskaloFlatTitle" class="com.webpostparser.parserservice.parsers.Title">
        <property name="parsingConfig">
            <props>
                <prop key="elAttribute">class</prop>
                <prop key="attrValue">entity-title</prop>
            </props>
        </property>
    </bean>
    <bean id="njuskaloFlatArea" class="com.webpostparser.parserservice.parsers.Area">
        <property name="parsingConfig">
            <props>
                <prop key="areaAttr">class</prop>
                <prop key="areaAttrVal">entity-description-main</prop>
                <prop key="regex">Stambena površina: ((\d+\.\d+)|(\d+))</prop>
            </props>
        </property>
    </bean>
    <bean id="njuskaloFlatLink" class="com.webpostparser.parserservice.parsers.Link">
        <property name="parsingConfig">
            <props>
                <prop key="linkAttr">class</prop>
                <prop key="linkAttrVal">entity-title</prop>
                <prop key="linkMatchAttr">href</prop>
                <prop key="linkMatchAttrVal">nekretnine</prop>
                <prop key="webpage">www.njuskalo.hr</prop>
            </props>
        </property>
    </bean>
    <bean id="njuskaloFlatPrice" class="com.webpostparser.parserservice.parsers.Price">
        <property name="parsingConfig">
            <props>
                <prop key="priceAttr">class</prop>
                <prop key="priceAttrVal">price price--eur</prop>
            </props>
        </property>
    </bean>
    <bean id="njuskaloFlatImage" class="com.webpostparser.parserservice.parsers.Image">
        <property name="parsingConfig">
            <props>
                <prop key="imageAttr">data-src</prop>
                <prop key="imageAttrVal">www.njuskalo.hr</prop>
                <prop key="regex">www.njuskalo.hr.*</prop>
            </props>
        </property>
    </bean>
    <bean id="njuskaloFlatDate" class="com.webpostparser.parserservice.parsers.ParserDate">
        <property name="parsingConfig">
            <props>
                <prop key="dateAttr">pubdate</prop>
                <prop key="dateAttrVal">pubdate</prop>
            </props>
        </property>
    </bean>
    <!-- www.index.hr parsing beans and parameters -->

    <bean id="indexFlatTitle" class="com.webpostparser.parserservice.parsers.Title">
        <property name="parsingConfig">
            <props>
                <prop key="elAttribute">class</prop>
                <prop key="attrValue">title</prop>
            </props>
        </property>
    </bean>
    <bean id="indexFlatArea" class="com.webpostparser.parserservice.parsers.Area">
        <property name="parsingConfig">
            <props>
                <prop key="areaAttr">class</prop>
                <prop key="areaAttrVal">tags</prop>
                <prop key="regex">m2 : ((\d+\.\d+)|(\d+))</prop>
            </props>
        </property>
    </bean>
    <bean id="indexFlatLink" class="com.webpostparser.parserservice.parsers.Link">
        <property name="parsingConfig">
            <props>
                <prop key="linkAttr">class</prop>
                <prop key="linkAttrVal">result</prop>
                <prop key="linkMatchAttr">href</prop>
                <prop key="linkMatchAttrVal">oglasi</prop>
                <prop key="webpage"></prop>
            </props>
        </property>
    </bean>
    <bean id="indexFlatPrice" class="com.webpostparser.parserservice.parsers.Price">
        <property name="parsingConfig">
            <props>
                <prop key="priceAttr">class</prop>
                <prop key="priceAttrVal">price</prop>
            </props>
        </property>
    </bean>
    <bean id="indexFlatImage" class="com.webpostparser.parserservice.parsers.Image">
        <property name="parsingConfig">
            <props>
                <prop key="imageAttr">data-src</prop>
                <prop key="imageAttrVal">www.index.hr</prop>
                <prop key="regex">www.index.hr.*</prop>
            </props>
        </property>
    </bean>
    <bean id="indexFlatDate" class="com.webpostparser.parserservice.parsers.ParserDate">
        <property name="parsingConfig">
            <props>
                <prop key="dateAttr">class</prop>
                <prop key="dateAttrVal">icon-time</prop>
                <prop key="regex">(\d+\.\d+\.\d+)|Objavljeno</prop>
            </props>
        </property>
    </bean>
    <bean id="indexParser" class="com.webpostparser.parserservice.parsers.IndexParser">
        <property name="indexComodityIdMap">
            <props>
                <prop key="flat">prodaja-stanova/gid/3278</prop>
                <prop key="house">prodaja-kuca/gid/3278</prop>
            </props>
        </property>
        <property name="indexLocationIdMap">
            <props>
                <prop key="zagreb">1153</prop>
            </props>
        </property>
    </bean>   <!-- Flat comodity ID for index.hr page -->

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

</beans>